service: scores-service-node
provider:
  name: aws
  runtime: nodejs6.10
  region: us-west-2
  environment:
    DYNAMODB_TABLE_PLAYERS_SCORE: Ants-Smashing-PlayersScore
    DYNAMODB_INDEX_PLAYERS_SCORE_GAME_ID_SCORE: gameId_score_idx
    DYNAMODB_TABLE_TEAMS_SCORE: Ants-Smashing-TeamsScore
    DYNAMODB_INDEX_TEAMS_SCORE_GAME_ID_SCORE: gameId_score_idx
    DYNAMODB_INDEX_TEAMS_SCORE_DATE_TIME: date_time_idx
    GRIP_URL: https://api.fanout.io/realm/c2f47682?iss=c2f47682&key=base64:JciP77y/AekMKyeoLl452A==
  role: arn:aws:iam::329054710135:role/lambda-kinesis-ants

functions:
  getPlayersScores:
    handler: handler.getPlayersScores

    events:
      - http:
          path: games/{gameId}/players
          method: get
          cors: true

  getTeamsScores:
    handler: handler.getTeamsScores

    events:
      - http:
          path: games/{gameId}/teams
          method: get
          cors: true

  publishScoreEventsHandler:
    handler: handler.publishScoreEventsHandler

    events:
      - http:
          path: 'publish'
          method: get
          cors: true

plugins:
  - serverless-domain-manager

custom:
  customDomain:
    domainName: "fuze.tikal.io"
    basePath: 'scores'
    stage: ${self:provider.stage}
    createRoute53Record: true
    endpointType: 'regional'
